* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

#game_container{
    border-radius: 5px;
    width:  100%;
    height: 100vh;
    margin: 0;
    background-color: lightgray;
    position: absolute;
}

.cards_players{
    position: relative;
    width: 80%;
    height: 120px;
    margin-left: 8rem;
    margin-top: 32rem;
    border: 2px solid black;
    border-radius: 10rem;
    background-color: #333;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.cards_P{
    width: 65px;
    height: 100px;
    position: relative;
    background-color: lightgray;
}

#mazo{
    position: absolute;
    margin-top: 10rem;
    margin-left: 10px;
    width: 65px;
    height: 100px;
    background-color: red;
}

.botones_atrib{
    left: 30%;
    width: 60px;
    height: 200px;
    margin-top: 8rem;
    margin-left: 0;
    position: absolute;
    border: 2px;
    border-color: #000;
    border-radius: 2px;
    background-color: #333; 
    
    
}

#health{
    background-color: purple;
    width: 40px;
    height: 40px;
    float: left;
    align-items: center;
    margin-top: 15%;
    margin-left: 10px;
}

#hability{
    background-color: purple;
    width: 40px;
    height: 40px;
    float: left;
    align-items: center;
    margin-top: 10%;
    margin-left: 10px;
}

#power{
    background-color: purple;
    width: 40px;
    height: 40px;
    float: left;
    align-items: center;
    margin-top: 10%;
    margin-left: 10px;
}

#speed{
    background-color: purple;
    width: 40px;
    height: 40px;
    float: left;
    align-items: center;
    margin-top: 10%;
    margin-left: 10px;
}

#showedCard{
    position: absolute;
    margin-left: 34.5rem;
    margin-top: 5%;
    width: 250px;
    height: 400px;
    background-color: aqua;
}

.Liderboard{
    position: absolute;
    right: 0;
    margin-top: 0;
    width: 150px;
    height: 250px;
    background-color: black;
    margin: 10px;

}





